#shiftTable {
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #shiftTable th, #shiftTable td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
    font-size: 14px;
  }
  
  #shiftTable th {
    background-color: #f7f7f7;
  }
  
  #shiftTable .attend {
    font-size: 20px;
    color: green;
  }